body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header-img {
  height: 100%;
  margin-right: 6px;
}
.header-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #ffffff;
}
main {
  display: flex;
  justify-content: center;
}
form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  width: 30%;
}
.main-form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.main-form-btn {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
}
.main-img-meme {
  position: absolute;
  width: 477px;
  height: 268px;
  left: 36px;
  top: 227px;

  border-radius: 2px;
}
