body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  position: absolute;
  width: 550px;
  height: 65px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.header-img {
  position: absolute;
  width: 31.31px;
  height: 26.22px;
  left: 20px;
  top: 19px;
}
.header-title {
  position: absolute;
  width: 140.79px;
  height: 24px;
  left: 58px;
  top: 21px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #ffffff;
}
